
@{
}

@model Bowler

<div class="card card-outline-primary m-1 p-1">

    <div class="bg-light p-1">
        <h4>@Model.BowlerFirstName @Model.BowlerMiddleInit @Model.BowlerLastName</h4>
    </div>

    <ul>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Number of Pages: @Model.PageCount</li>
        @*<li>Price: @Model.Price</li>*@
    </ul>
