@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Bowler>

<h1>@ViewBag.TeamName</h1>

<h2>Bowler Contact List</h2>

<a asp-action="Form" class="btn btn-primary">Create New Bowler</a><br /><br />

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold table-dark">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Middle Init</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
        </tr>
    </thead>

    <tbody>
        @if (Model?.Count() > 0)
        {
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerLastName</td>
                    @if (x.BowlerMiddleInit == "NULL")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@x.BowlerMiddleInit</td>
                    }
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>

                    <td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@x.BowlerID">Edit</a></td>
                    <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@x.BowlerID">Delete</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Bowler</td>
            </tr>
        }

    </tbody>
</table>
